.input{
    font-family: 'Roboto', sans-serif;
    padding: 6px 15px;
    border: 2px solid #F5F5F5;
    border-radius: 40px;
    outline: none;
    transition: all 500ms;
    text-align: center;
    text-rendering: optimizeLegibility;
}
.input-search{
    padding: 13px 23px 13px 11px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-left: none;
    text-align: left;
    }
.input,
.input::-webkit-input-placeholder{
    line-height: 14px;
    font-size: 12px;
    font-weight: bold;
    color: #B2B2B2;
}
