block content

  .content-section
    .content-promo.container
      .row
        .slideshow-container
          .slide.fade
            img(src="img/slider/Image.png" style="width:100%")
            span.badge.badge-magenta Badge
            .text The Best Place to Play
            .text2 Space The Final Frontier
          .slide.fade
            img(src="img/slider/Image.png" style="width:100%")
            .text The Best Place to Play
          // Next and previous buttons
          a.prev(onclick="plusSlides(-1)") ❮
          a.next(onclick="plusSlides(1)") ❯
        br
.content-section
  .content-head.container
    .row
      a(href="")
        i.fas.fa-star
        |  Interesting offers
      .btn-group
        button.btn.btn-default Popular
        button.btn.btn-default.active Trending
        button.btn.btn-default New
      .selectors
        select(name="categories")
          option(disabled="" selected="" value="")
            | Categories
        select(name="date")
          option(disabled="" selected="" value="") Date
.content-section.content-section-bordered
  .content-cards.container
    .row
      .card
        .card-head Recommend
        .card-body
          img.card-img(src="img/235x120/shop_img_1.png")
          span.card-title Asus ZenFone Go ZB452KG 
        .card-footer
          | $ 423.5
      .card
        .card-head Bestseller
        .card-body
          img.card-img(src="img/235x120/shop_img_2.png")
          span.card-title Xiaomi Mi Band 2
        .card-footer
          | $ 423.5
      .card
        .card-head Goods of the week
        .card-body
          img.card-img(src="img/235x120/shop_img_3.png")
          span.card-title LG 43UH610V
        .card-footer
          | $ 423.5
      .card
        .card-head Recommend
        .card-body
          img.card-img(src="img/235x120/shop_img_4.png")
          span.card-title  Apple iMac 27 Retina 5K
        .card-footer
          | $ 423.5
      .card
        .card-head Goods of the week
        .card-body
          img.card-img(src="img/235x120/shop_img_5.png")
          span.card-title Asus ZenFone Go ZB452KG 
        .card-footer
          | $ 423.5
      .card
        .card-head Recommend
        .card-body
          img.card-img(src="img/235x120/shop_img_6.png")
          span.card-title Electrolux EZB 52410 AK
        .card-footer
          | $ 423.5
      .card
        .card-head Bestseller
        .card-body
          img.card-img(src="img/235x120/shop_img_7.png")
          span.card-title Beats studio wireless
        .card-footer
          | $ 423.5
      .card
        .card-head Recommend
        .card-body
          img.card-img(src="img/235x120/shop_img_8.png")
          span.card-title Nikon D3300 Kit
        .card-footer
          | $ 423.5
  .button-wrapper.container
    button.btn.btn-default
      | Show more
.content-section.content-section-bordered
  .row
    .content-subscribe.container
      a(href="")
        i.far.fa-envelope-open
        |  Learn about profitable offers and get personal recommendations
      .input-group
        .input-group-left
          i.far.fa-envelope
        input.input(type="text" placeholder="Search")
        .input-group-right
          button.btn.btn-subscribe(type="button") Subscribe
.content-section
  .content-recent.container
    .title-name
      i.far.fa-eye
      span Recently viewed cards
  .recent-cards.container
    .card
      .card-body
        .row
          .card-img
            img(src="img/80x60/prod_small_1.png")
          .col
            .card-name Apple iPhone 7
            .card-price $ 670
    .card
      .card-body
        .row
          .card-img
            img(src="img/80x60/prod_small_2.png")
          .col
            .card-name LG 43UH610V
            .card-price $ 545
    .card
      .card-body
        .row
          .card-img
            img(src="img/80x60/prod_small_3.png")
          .col
            .card-name LG G6 H870DS
            .card-price $ 545
    .card
      .card-body
        .row
          .card-img
            img(src="img/80x60/prod_small_4.png")
          .col
            .card-name Asus ZenFone
            .card-price $ 545
