block header 

  .header-panel
    .header-search
      a.header-link.lg-invisible(href="")
        i.fas.fa-search.fa-lg
      .header-search-prepend.sm-invisible
        button.btn.btn-outline-secondary(type="button")
          i.fas.fa-search
      input.input.input-search.sm-invisible(type="text" placeholder="Search goods...")
    .header-logo
      a(href="")
        .logo
    .header-links
      a.header-link.lg-invisible(href="")
        i.fas.fa-bars.fa-lg
      a.header-link.sm-invisible(href="")
        i.fas.fa-heart.fa-lg
        |  Favorite
      a.header-link.sm-invisible(href="")
        i.fas.fa-list-ul.fa-lg
        |  Compare
      a.header-link.sm-invisible(href="")
        i.fas.fa-shopping-cart.fa-lg
        |  Cart
      img.header-avatar.sm-invisible(src="img/111.jpg")
nav.header-menu
  a.header-link(href="") Electronic
  a.header-link.header-link_active(href="") Appliances
  a.header-link(href="") Children's goods
  a.header-link(href="") Repairs
  a.header-link(href="") Clothes
  a.header-link(href="") Footwear
  a.header-link(href="") Beauty