block footer

  .footer-links
    .container
      .row
        .footer-column.users
          .title-name
            i.fas.fa-user-friends
            span Users
          ul
            li
              a(href="") Payment
            li
              a(href="") Delivery
            li
              a(href="") Return and exchange
            li
              a(href="") Help with the service
            li
              a(href="") Terms of use
            li
              a(href="") Feedback
        .footer-column.shop
          .title-name
            i.fas.fa-building
            span Shopping
          ul
            li Connectivity
            li Help for shops
            li Dashboard
            li Storehouse
            li Terms of use
            li Feedback
        .footer-column.stat
          .title-name
            i.fas.fa-chart-line
            span Statistic
          .statistic
            span
              | 453 034
            |  Goods
          .statistic
            span
              | 2 545
            |  Shops
.footer-additional
  a.lg-visible(href="") Full version
  a.sm-invisible(href="") Mobile version
  a(href="") Statistics
  a(href="") Advertising
