.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #F5F5F5;
    border-bottom: 2px solid #EBEBEB;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}

a,
.header-link {
    color: #999999;
    text-decoration: none;
    padding: 19px 20px;
    &:hover{
        font-weight: bold;
    }
}

.header-link_active {
    font-weight: bold;
}

.header-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.header-search {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.header-search-prepend {
    display: flex;
}

.header-search-prepend button {
    display: inline block;
    background-color: white;
    color: #D8D8D8;
    border: 2px solid #F5F5F5;
    border-radius: 40px;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-right: none;
    padding: 11px 23px;
    font-size: 16px;
    transition: all 500ms;
}

.header-search:hover * {
    border-color: rgb(192, 192, 192);
    transition: all 500ms;
}