.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #F5F5F5;
    border-bottom: 2px solid #EBEBEB;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}

a,
.header-link {
    color: #999999;
    text-decoration: none;
    padding: 19px 20px;
    &:hover {
        font-weight: bold;
    }
}

.header-search{
    .input-group{
        input{
            min-width: 190px;
        }
    }
}

.header-link_active {
    font-weight: bold;
}

.header-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    flex-wrap: wrap;
}

.header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

$logo-color:#0078FF;
.logo {
    width: 40px;
    height: 40px;
    border-color: #0078FF;
    border: 8px solid $logo-color;
    border-radius: 50%;
}

.fa-lg {
    font-size: 15px;
}