.input,
input,
select {
    font-family: 'Roboto', sans-serif;
    padding: 13px 22px;
    border: 2px solid #F5F5F5;
    border-radius: 40px;
    outline: none;
    transition: all 500ms;
    text-align: center;
    text-rendering: optimizeLegibility;
    color: #B2B2B2;
}

.input-search {
    padding: 13px 23px 13px 11px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-left: none;
    text-align: left;
}

.input,
.input::-webkit-input-placeholder {
    line-height: 14px;
    font-size: 12px;
    font-weight: bold;
    color: #B2B2B2;
}

.input-group {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    $border-radius: 40px;
    $border: 2px solid #F5F5F5;
    .input-group-left,
    .input-group-right {
        border: $border;
        border-radius: $border-radius;
    }
    .input-group-left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 11px 23px;
        font-size: 16px;
        display: flex;
        align-items: center;
        &:first-child {
            border-right: none;
        }
    }
    .input-group-right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 5px;
        .btn {
            height: 100%;
            ;
        }
        &:last-child {
            border-left: none;
        }
    }
    .input {
        padding: 15px 23px 15px 11px;
        text-align: left;
        width: 100px;
        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
        }
        /* новое */
        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
        }
    }
    .input-group-left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 11px 23px;
        /* ставим тут границу */
        font-size: 16px;
    }
}

.btn-subscribe {
    border: none !important;
    color: rgb(153, 153, 153) !important;
    background: -webkit-linear-gradient(bottom right, #f69884, #fac887) !important;
    /* Для хрома */
    background: linear-gradient(bottom right, #f69884, #fac887) !important;
    /* Для новых */
}